<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lorem ipsum dolor sit amet">
    <meta name="author" content="Elisa">
    <link rel="icon" href="./favicon.ico">

    <title>Scienze in gioco</title>

    <link href="./css/vendor/01-bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="blog-masthead">
        <div class="container">
          <nav class="nav">
            <a class="nav-link active" href="index.html">Home</a>
            <a class="nav-link" href="#">Premiazioni</a>
            <a class="nav-link" href="#">Classifiche</a>
            <a class="nav-link" href="archiviogare.html">Archivio gare</a>
          </nav>
        </div>
      </div>

      <div class="blog-header">
        <div class="container">
          <h1 class="blog-title">Scienze in gioco</h1>
          <p class="lead blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </header>

    <main role="main" class="container">
      


    <div class="row">
      <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide mx-auto col-sm-8" data-ride="carousel">
          <ol class="carousel-indicators">
            <% images.forEach(function(image, index){ %>
              <li data-target="#myCarousel" data-slide-to=<%= index %>></li>
            <% }); %>
          </ol>
          <div class="carousel-inner">
            <% images.forEach(function(image, index){ %>
              <% if(index === 0) { %>
                <div class="carousel-item active">
              <% } else { %>
                <div class="carousel-item">
              <% } %>
                  <a href="#"><img class="d-block img-fluid" src=<%= image.image %> alt="<%=image.text%>"></a>
                </div>
            <% }); %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> 

        <% articles.forEach(function(article){ %>
          <div class="blog-post">
            <h2 class="blog-post-title"><%= article.title %></h2>
            <p> <%= article.text %></p>
          </div>
        <% }); %>
      </div>

      <aside class="col-sm-3 ml-sm-auto blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
              <h4>About</h4>
              <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="sidebar-module">
              <a href="archiviogare.html"><h4>Archivio gare</h4></a>
              <ol class="list-unstyled">
                <li><a href="#">Matematica finali</a></li>
                <li><a href="#">Matematica semifinali</a></li>
                <li><a href="#">Fisica finali</a></li>
                <li><a href="#">Matematica semifinali</a></li>
                <li><a href="#">Chimica</a></li>
              </ol>
            </div> 
            <div class="sidebar-module">
              <h4>Gare future</h4>
              <ol class="list-unstyled">
                <li><a href="#">Calendario matematica</a></li>
                <li><a href="#">Calendario fisica</a></li>
                <li><a href="#">Calendario chimica</a></li>
              </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p>Scienze in gioco usa un template <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/vendor/01-jquery-3.2.1.slim.min.js" ></script>
    <script src="./js/vendor/02-popper-1.12.3.min.js" ></script>
    <script src="./js/vendor/03-bootstrap.min.js" ></script>
    <script src="./js/main.js" ></script>
  </body>
</html>
